{% extends 'base.html' %}
{% block content %}

    <form method="post" action="/songs/create/">

        <label>Titulo</label>
        <input name="title" id="title">
        <label>Genero</label>
        <input name="genre" id="genre">
        <label>Duracion (segundos)</label>
        <input name="duration" id="duration">
        <label>ID del artista</label>
        <input name="artist_id" id="artist_id">

        <button type="submit" class="btn btn-success">Agregar</button>
    </form>


{% endblock %}
